/* CSS Map1 FLOWERBOX
Version     Date            Coder       Comments
1.0.1       2024-02-01      TBaxter     Initial. Made different so CLEAR MAP could be red
1.1.0       2024-04-01      TBaxter     Added AddStop and RemoveStop
1.2.0       2024-04-02      EYOUNG      Changed button selection.
*/




.location-button {
    background-color: #ffa146;
    opacity: 0.8;
    color: black;
    text-align: center;
    text-decoration: double;
    border-style: double;
    border-radius: 5px;
    border-color: ThreeDDarkShadow;
    font-family: "trilby", serif;
    font-weight: 400;
    font-style: normal;
}

    .location-button:hover {
        background-color: darkgoldenrod;
        color: black;
        opacity: 0.4;
    }

    .location-button.selected {
        background-color: rgba(255, 164, 70, 0.5); /* Darker orange color with 50% opacity */
    }



#Clear {
    background-color: red;
    opacity: 0.8;
    color: black;
    text-align: center;
    text-decoration: double;
    border-style: double;
    border-radius: 5px;
    border-color: ThreeDDarkShadow;
    font-family: "trilby", serif;
    font-weight: 400;
    font-style: normal;
}

    #Clear:hover {
        background-color: darkred;
        color: black;
        opacity: 0.4;
    }


#AddStop {
    background-color: #fcb25d;
    opacity: 0.8;
    color: black;
    text-align: center;
    text-decoration: double;
    border-style: double;
    border-radius: 5px;
    border-color: ThreeDDarkShadow;
    font-family: "trilby", serif;
    font-weight: 400;
    font-style: normal;
}

    #AddStop:hover {
        background-color: darkgoldenrod;
        color: black;
        opacity: 0.4;
    }

#RemoveStop {
    background-color: #fcb25d;
    opacity: 0.8;
    color: black;
    text-align: center;
    text-decoration: double;
    border-style: double;
    border-radius: 5px;
    border-color: ThreeDDarkShadow;
    font-family: "trilby", serif;
    font-weight: 400;
    font-style: normal;
}

    #RemoveStop:hover {
        background-color: darkgoldenrod;
        color: black;
        opacity: 0.4;
    }

