/* CSS Map1 FLOWERBOX
Version     Date            Coder       Comments
1.0.1       2024-02-01      TBaxter     Initial. Made different so CLEAR MAP could be red
1.1.0       2024-04-01      TBaxter     Added AddStop and RemoveStop
1.2.0       2024-04-02      EYOUNG      Changed button selection.
*/



/*Style for the location buttons and the current location button*/
.location-button {
    background-color: #ffa146;
    opacity: 0.8;
    color: black;
    text-align: center;
    text-decoration: double;
    padding: 2px;
    margin: 2px;
    border-style: double;
    border-radius: 5px;
    border-color: ThreeDDarkShadow;
    font-family: "trilby", serif;
    font-weight: 400;
    font-style: normal;
}

    .location-button:hover {
        background-color: darkgoldenrod;
        color: black;
        opacity: 0.4;
    }

    .location-button.selected {
        background-color: rgba(255, 164, 70, 0.5); /* Darker orange color with 50% opacity after selected */
    }

.stops {
    background-color: #ffa146;
    opacity: 0.8;
    color: black;
    text-align: center;
    text-decoration: double;
    padding: 2px;
    margin: 2px;
    border-style: double;
    border-radius: 5px;
    border-color: ThreeDDarkShadow;
    font-family: "trilby", serif;
    font-weight: 400;
    font-style: normal;
}

.stops:hover {
    background-color: darkgoldenrod;
    color: black;
    opacity: 0.4;
}

.stops.selected {
    background-color: rgba(255, 164, 70, 0.5); /* Darker orange color with 50% opacity after selected */
}

/*Style for the clear selection button*/
#Clear {
    background-color: #d9bda2;
    opacity: 0.8;
    color: black;
    text-align: center;
    text-decoration: double;
    padding: 4px;
    margin: 2px;
    margin-top: 8px;
    border-style: double;
    border-radius: 5px;
    border-color: ThreeDDarkShadow;
    font-family: "trilby", serif;
    font-weight: 400;
    font-style: normal;
}

    #Clear:hover {
        background-color: darkred;
        color: black;
        opacity: 0.4;
    }


#AddStop {
    background-color: #ffa146;
    opacity: 0.8;
    color: black;
    padding: 2px;
    margin: 2px;
    margin-top: 6px;
    text-align: center;
    text-decoration: double;
    border-style: double;
    border-radius: 5px;
    border-color: ThreeDDarkShadow;
    font-family: "trilby", serif;
    font-weight: 400;
    font-style: normal;
}

    #AddStop:hover {
        background-color: darkgoldenrod;
        color: black;
        opacity: 0.4;
    }

#RemoveStop {
    background-color: #ffa146;
    opacity: 0.8;
    color: black;
    padding: 2px;
    margin: 2px;
    margin-top: 6px;
    text-align: center;
    text-decoration: double;
    border-style: double;
    border-radius: 5px;
    border-color: ThreeDDarkShadow;
    font-family: "trilby", serif;
    font-weight: 400;
    font-style: normal;
}

    #RemoveStop:hover {
        background-color: darkgoldenrod;
        color: black;
        opacity: 0.4;
    }

#SelOrig {
    margin-bottom: 5px;
}