/* 
Version     Date            Coder       Comments
1.0.1       2024-03-15      EYOUNG      Initial.
1.0.2       2024-03-22      TBaxter     Fixed float and width

*/

body {
}

/* Style for the left text box */
.left-hst-text {
    background-color: white;
    border: 2px solid orange;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px; /* Rounded corners */
    width: auto; /* Adjusted width */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
    overflow: hidden; /* Clear floats */
    float: left;
    display: flex; /* for layout */
}

    /* Style for the heading */
    .left-hst-text h2 {
        color: orange;
        text-align: left; /* Align heading to the left */
    }

    /* Style for the paragraph */
    .left-hst-text p {
        color: black;
        float: left;
        text-align: left;
        max-width: 50%;
    }

    /* Style for the image within the left text box */
    .left-hst-text .image img {
        max-width: 40%; /* Limit the width of the image */
        min-width: 20%;
        min-height: 10%;
        margin-left: 10px; /* To keep it away from the text */
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 4px solid orange; /* Orange border */
        border-radius: 10px; /* Rounded corners */
        float: right;
    }

/* Style for the right text box */
.right-hst-text {
    background-color: white;
    border: 2px solid orange;
    padding: 20px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 10px; /* Rounded corners */
    width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
    overflow: hidden; /* Clear floats */
    float: right;
    display: flex; /* For layout */
}

    /* Style for the heading */
    .right-hst-text h2 {
        color: orange;
        text-align: right; /* Align heading to the right */
    }

    /* Style for the paragraph */
    .right-hst-text p {
        color: black;
        float: right;
        text-align: right;
        max-width: 50%;
    }

    /* Style for the image within the right text box */
    .right-hst-text .image img {
        max-width: 40%; /* Limit the width of the image */
        min-width: 20%;
        min-height: 10%;
        max-height: 30%
        margin-right: 10px; /* To keep it away from the text */
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 4px solid orange; /* Orange border */
        border-radius: 10px; /* Rounded corners */
        float: left;
    }

    .row {
        display: flex;
    }

    .column {
        flex: 50%;
        padding: 5px;
    }